@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
body{
  width: 100%;
  min-height: 100vh;
  background: url("/public/img/bg-shinra.png") center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-size: 0;
  user-select: none;
}
.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*      HP BAR       */

.health-bar {
  position: relative;
  display: block;
  margin: auto;
  max-width: 200px;
}

#healthBarText {
  font-family: "Arial", sans;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*      MONSTER      */

#monsterContainer{
  display: flex;
  justify-content: end;
  position: relative;
  height: 100vh;
  width: 50%;
  overflow: hidden;
}
#monsterContainer .monster-row{
  text-align: right;
  height: 100%;
  display: inline-block;
  max-width: 100%;
}
#monsterContainer .monster-name{
  font-size: 4rem;
  display: inline-block;
  mix-blend-mode: exclusion;
  max-width: 50%;
  color: #fff;
  overflow: hidden;
  font-family: "Tiny5", sans-serif;
  font-weight: bold;
}
#monsterContainer img{
  height: 70%;
  transform: scaleX(-1);
  padding: 2rem 1rem;
  margin-right: 15%;
  float: right;
}
#monsterContainer .stats-monster{
  padding: 1rem;
  background: url("/public/img/characters/sephiroth-static2.gif") no-repeat, rgba(0, 0, 0, 0.7);
  background-position: 105% 15%;
  background-size: 300%;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#playerContainer{
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 50%;
}

.statusGame{
  font-size: 3rem;
}

#monsterContainer .health-bar{
  width: 15%;
  min-width: 120px;
}
#monsterContainer .bars{
  text-align: right;
  display: inline-block;
  width: 50%;
}
.health-bar{
  width: 10%;
  min-width: 120px;
  display: inline-block;
  margin: 0 3%;
}